extends ../layout

mixin rich-textbox(title="", text="", id="")
    .rich-textbox
        input.rich-textbox__box(type="checkbox" id=id name=id)
        label.rich-textbox__content(for=id)
            .rich-textbox__title= title
            .rich-textbox__text= text

mixin dropdown-select(opts)
    // Option object:
    //      string name: name and id for item
    //      string placeholder: default text (if missed the 1st option is selected)
    //      []items: array of select options with its own syntax
    //
    //      Syntax for item in array:
    //          string title: item title
    //          int min: minimal value for item
    //          int max: maximal value for item
    //          int defaultValue: default value (optional)
    .dropdown-select
        .dropdown-select__box
            span.dropdown-select__value= opts.placeholder
            span.dropdown-select__more
                i.material-icons expand_more
        .dropdown-select__items.dropdown-select__items--hidden
            for item in opts.items
                .dropdown-item
                    .dropdown-item__text= item.title
                    .dropdown-item__controls
                        if item.min == item.defaultValue
                            .dropdown-item__control.dropdown-item__control--disabled -
                        else
                            .dropdown-item__control -
                        .dropdown-item__counter= item.defaultValue
                        .dropdown-item__control +



mixin checkbox(opts)
    // Opts object syntax:
    //
    // string label: displayed text
    // string name: form name attribute
    // bool isChecked: specifies default state (default: false)
    .checkbox
        label
            if opts.isChecked
                input.checkbox__box.checkbox__box--checked(type="checkbox" name=opts.name)
            else
                input.checkbox__box(type="checkbox" name=opts.name)
            .checkbox__label= opts.label

block content
    -
        var availabilityOpts = {
            name: "availability",
            placeholder: "2 спальни, 2 кровати...",
            items: [{
                title: "Спальни",
                min: 1,
                max: 4,
                defaultValue: "2"
            }, {
                title: "Кровати",
                min: 1,
                max: 4,
                defaultValue: "2"
            }, {
                title: "Ванные комнаты",
                min: 0,
                max: 4,
                defaultValue: "0"
            }]
        }

        var guestsOpts = {
            name: "guests",
            placeholder: "3 гостя, 1 младенец",
            items: [{
                title: "Гости",
                min: 1,
                max: 6,
                defaultValue: "1"
            }, {
                title: "Младенцы",
                min: 0,
                max: 6,
                defaultValue: "0"
            }]
        }

        var rulesCheckboxes = [
            {
                label: "Можно курить",
                name: "isSmokingAllowed"
            },
            {
                label: "Можно с питомцами",
                name: "arePetsAllowed"
            },
            {
                label: "Можно пригласить гостей",
                name: "areGuestsAllowed"
            },
        ]

        var additionalCheckboxes = [
            {
                label: "Завтрак",
                name: "hasBreakfast"
            },
            {
                label: "Письменный стол",
                name: "hasWritingTable"
            },
            {
                label: "Стол для кормления",
                name: "hasFeedingTable"
            },
            {
                label: "Кроватка",
                name: "hasChildBed"
            },
            {
                label: "Телевизор",
                name: "hasTV"
            },
            {
                label: "Шампунь",
                name: "hasShampoo"
            }
        ]


    .container
        .search
            .search__filters
                form(method="PUSH")
                    .form__group
                        label.form__label(for="period") Даты пребывания в отеле
                        input.form__input(name="period" type="text" placeholder="19 авг - 23 авг")
                    .form__group
                        label.form__label(for="guestNumber") Гости
                        +dropdown-select(guestsOpts)
                    .form__group
                        label.form__label(for="priceRange") Диапазон цены
                            .form__label-subtext 5 000₽ - 10 000₽
                        input.form__input(name="priceRange" type="range")
                        p.form__input-subtext Стоимость за сутки пребывания в номере

                    .form__group
                        label.form__label(for="rules") Правила дома

                        for checkboxOpts in rulesCheckboxes
                            +checkbox(checkboxOpts)

                    .form__group
                        label.form__label(for="availability") Доступность

                        .form__rich-textbox
                            +rich-textbox("Широкий коридор", "Ширина коридоров в номере не менее 91 см.", "wideCorridor")

                        .form__rich-textbox
                            +rich-textbox("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.", "disabledHelper")

                    .form__group
                        label.form__label(for="availability") Удобства номера
                        +dropdown-select(availabilityOpts)

                    .form__group
                        label.form__label(for="period") Дополнительные удобства

                        for checkboxOpts in additionalCheckboxes
                            +checkbox(checkboxOpts)
